.CommitWrapper {border: 1px solid #ffffff; box-shadow: 3px 3px 4px #ffffff;}
.commit:hover {background: #ffffff; color: #000000; }
.commitButton {background-color: #C7C7C7;}
.commitButton:hover { background-color: grey;}
.issueType {color: #ffffff;}
.UserRepo:hover {background: #ffffff; color: #000000; border-radius: 5px;}
.GHubLogo {background-image: url('github_logo-dark.png');}
li.BGHubActitab{text-shadow: -1px -1px 1px #fff;}
.BGHubTabswitch li:hover {background-color: #fff; color: #000;}
li.BGHubActitab{color: #000; background-color: #fff}