.CommitWrapper {box-shadow: 3px 3px 4px #000000; background-image: -ms-linear-gradient(top, #F8F8F8 0%, #BABABA 100%); background-image: -moz-linear-gradient(top, #F8F8F8 0%, #BABABA 100%); background-image: -o-linear-gradient(top, #F8F8F8 0%, #BABABA 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(1, #BABABA)); background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #BABABA 100%); background-image: linear-gradient(to bottom, #F8F8F8 0%, #BABABA 100%);}
.commit:hover { background: #000; color: #ffffff;}
.commitButton { background-color: #C7C7C7;}
.commitButton:hover { background-color: #FFFFE5;}
.issueNo {color: grey;}
.GHubCell {text-shadow: -1px -1px 1px #fff;}
.UserRepo:hover {background: #000; color: #ffffff; border-radius: 5px;}
.GHubLogo {background-image: url('github_logo-light.png');}
.BGHubTabswitch li:hover {background-color: #000; color: #fff;}






